.wrapper-step-3 {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  background-color: black;
}

.wrapper-step-3-image {
  width: 50vw;
}
@media only screen and (max-width: 600px) {
  .wrapper-step-3 {
    flex-direction: column;
  }

  .wrapper-step-3-image {
    width: 100vw;
  }
}
